@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #f2f2f2;
  overflow-y: hidden;
}
.day {
  background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%),
    #53a6cb;
  transition: background 0.6s ease-in-out;
}
.night {
  background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%),
    #042232;
  transition: background 0.6s ease-in-out;
}
.weather_app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .city {
    font-size: 70px;
    text-align: center;
  }
  p {
    font-size: 25px;
    margin: 17px 0 29px 0;
  }
  .temp {
    font-size: 100px;
  }
  margin-bottom: 40px;
}
.time {
  font-size: 20px;
}

.weater_info {
  .forecast_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    // background-color: #fff;
    .forecast {
      text-align: center;
      .forecast_temp {
        font-size: 30px;
      }
      .weather_icon {
        margin-top: 19px;
        margin-bottom: 23px;
        img {
          height: 110px;
          width: 110px;
        }
      }
    }
  }
}

.forecast_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    flex-basis: 50%;
    margin-bottom: 53px;
    h1 {
      font-size: 20px;
      margin-bottom: 12px;
    }
    p {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 360px;
  }
  .main {
    margin-top: 6px;
    .city {
      font-size: 50px;
    }
    p {
      font-size: 18px;
    }
    .temp {
      font-size: 75px;
    }
  }
  .time {
    font-size: 16px;
  }

  .weater_info {
    .forecast_group {
      margin-bottom: 39px;
      .forecast {
        .forecast_temp {
          font-size: 18px;
        }
        .weather_icon {
          margin-top: 15px;
          margin-bottom: 19px;
          img {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }

  .forecast_info {
    div {
      margin-bottom: 21px;
      h1 {
        font-size: 18px;
        margin-bottom: 15px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
